/* ==== Reset === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*********** General ***********/

:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;

  --background-color: rgba(234, 234, 234, 1);
  --lightest-background-color: rgba(246, 246, 246, 1);
  --lightest-background-transparent: rgba(255, 255, 255, 0.7);

  --green-background: rgba(153, 226, 208, 1);
  --green-font: rgba(0, 135, 102, 1);

  --light-grey-background: rgba(234, 234, 234, 1);
  --grey-background: rgba(53, 53, 53, 1);

  --font-logo-title: "Shrikhand", cursive;
  --font-body-text: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/***********  ***********/

nav {
  display: flex;
  flex-direction: column;
}



/*********** FOOTER ***********/

footer {
  background-color: var(--grey-background);
  color: white;
  padding-left: 15px;
}

.footer-title {
  font-family: var(--font-logo-title);
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  color: white;
  padding-top: 22px;
  padding-bottom: 16px;
}

footer ul {
  padding-bottom: 22px;
}

footer ul li {
  font-family: var(--font-body-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  padding: 7px;
}

footer i {
  padding-right: 8px;
}


/*********** MEDIA QUERIES ***********/

@media (width >= 768px) {

  /* Tablette */
  footer {
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    padding-block: 20px;
  }

  .footer-title {
    padding-top: 0;
    padding-bottom: 0;
  }

  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}

@media (width >= 1024px) {

  /* Desktop */
  .footer-wrapper {
    background-color: var(--grey-background);
    width: 100%;
  }

  footer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end; 
    justify-content: end;
    padding-right: 70px;
    flex-direction: row-reverse;
  }

  footer ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 60px;
  }

  footer ul li {
    display: flex;
  }
}
