/* ==== Reset === */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*********** General ***********/


:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;

    --background-color: rgba(234, 234, 234, 1);
    --lightest-background-color: rgba(246, 246, 246, 1);

    --green-background: rgba(153, 226, 208, 1);
    --green-font: rgba(0, 135, 102, 1);
    
    --light-grey-background: rgba(234, 234, 234, 1);
    --grey-background: rgba(53, 53, 53, 1);
     
    --font-logo-title: 'Shrikhand', cursive;
    --font-body-text: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

nav {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  border: solid red 1px;
}

.site-goback {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
}

/* Cette propriété place le haut de l’élément (la flèche) à 50% de la hauteur de son parent (ici, le <nav>).

👉 Ça le place à moitié verticalement, mais pas encore centré exactement. Pourquoi ?

Parce qu’à ce stade, seul le haut de la flèche est à 50% :

donc l’élément est "accroché par le haut", pas centré. */



.site-title {
    display: flex;
    font-family: Shrikhand;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.restaurant-img img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}


.menu-section {
  display: flex;
  background: rgba(246, 246, 246, 1);
  border-radius: 40px 40px 0 0;
  top: -40px;
   position: relative;
  border: red solid 1px;
}


.menu-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 17px;
}


.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-title {
  font-family: var(--font-logo-title);
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  line-height: 100%;
  padding-top: 25px;
  padding-bottom: 40px;
}





.fa-heart {
    font-size: 26px;
}

.menu-container {
  
}

.menu-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  gap: 30px;
}

.menu-category h3 {
  font-family: var(--font-body-text);
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  border-bottom: solid 3px var(--tertiary-color);
  padding-bottom: 9px;
  align-self: start;
}

.menu-items {
  width: 100%;
}

.menu-item {
  border-radius: 15px;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
}

.menu-item h4 {
  font-family: var(--font-body-text);
  font-weight: 500;
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 7px;
}

.item-text {
  display: flex;
    width: 100%;  
  justify-content: space-between;
}

.item-text p {
  padding-left: 10px;
}

.item-price {
  padding-right: 10px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
}

.menu-button {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.btn-order {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  height: 50px;
  width: 186px;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.btn-order:hover,
.btn-order:active {
    background: linear-gradient(193.33deg, #A776E0, #FF94E1);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
}

footer {
    background-color: var(--grey-background);
    color: white;
    padding-left: 10px;
}

.footer-title {
    color: white;
    font-family: var(--font-logo-title);
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 15px;
    
}

footer ul {
    padding-bottom: 20px;
}

footer ul li {
    font-family: var(--font-body-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    padding: 5px;
}

footer i {
    padding-right: 8px;
}